[Desktop Entry]

# The type as listed above
Type=Application

# The name of the application
Name=DriveAF

# A comment which can/will be used as a tooltip
Comment=DriveAF storage mounter

# The executable of the application, possibly with arguments.
Exec=/home/evildave/dev/drive_af/target/release/drive_af

# The name of the icon that will be used to display this entry
Icon=/home/evildave/dev/drive_af/assets/DriveAF-nobg.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
# Categories=Utilities

